<template>
    <table class="table table-striped">
        <thead>
            <th>Navn</th>
            <th>Type</th>
            <th>Startdato</th>
            <th>Sluttdato</th>
            <th>Handling</th>
        </thead>
        <tr repeat.for="t of tournaments">
            <td><a route-href="route: tournament-details; params.bind: {id:t._id}">${t.name}</a></td>
            <td>${t.tournamentType}</td>
            <td>${t.startDate | dateFormat}</td>
            <td>${t.endDate | dateFormat}</td>
            <td><a click.trigger="deleteTournament(t)" style="cursor: pointer;">Slett</a></td>
        </tr>
    </table>
</template>